*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.Upload-Overlay{
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.596);
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 2;
}
.Upload-Box{
  position: fixed;
  display: none;
  background-color: white;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  z-index: 3;
}
.Upload-Box input{
  position: absolute;
  left: 30%;
  top: 30%;
  font-size: 110%;
}
.Nav{
  position: fixed;
  top: 0%;
  bottom: 88%;
  right: 0%;
  left: 0%;
  width: 100%;
}
.Top-Nav{
  position: absolute;
  top: 0%;
  bottom: 35%;
  left: 0%;
  right: 0%;
}
.cloud{
  position: absolute;
  height: 70%;
  top: 10%;
}
.sign-out{
  position:absolute;
  right: 0%;
  bottom: 0%;
  top: 0%;
  border: none;
  padding: 5px;
  background-color: #00B396;
  color: white;
  font-size: medium;
  outline: none;
}
.sign-out:active{
  color: lightgrey;
  background-color: #008F78;
}
.File-Nav{
  position: absolute;
  background-color: lightgrey;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 65%;
  bottom: 0%;
  border-bottom: thin solid grey;
}
.Upload-Button{
  position: absolute;
  display: inline-block;
  background-color: lightgrey;
  outline-style: none;
  font-size: 95%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  color: grey;
  text-align: center;
  border-left: thin solid grey;
  border-right: thin solid grey;
  border-bottom: none;
  border-top: none;
}
.Upload-Button:active{
  background-color: grey;
  color: black;
}
.content{
  position: fixed;
  top: 12%;
  width: 100%;
  bottom: 0%;
  background-color: grey;
}
.file-list{
  position: absolute;
  background-color: lightgrey;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: inline-block;
  color: #00B396;
}
